<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connection_string" 
		providerName="System.Data.SqlClient" 
		connectionString="Server=HAMZEH;
		Database=Survey;
		User Id=sa;
		Password=hamza900900;"/>
	</connectionStrings>
	<appSettings>
		<add key="myConnectionString" value="server=localhost;database=Survey;uid=sa;password=hamza900900;" />
	</appSettings>
</configuration>