<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<connectionStrings>
		<add name="connection_string" 
		providerName="System.Data.SqlClient" 
		connectionString="Server=HAMZEH;
		Database=Survey;
		User Id=sa;
		Password=hamza900900;"/>
	</connectionStrings>
	<appSettings>
		<add key="ProviderName" value="System.Data.SqlClient" />
		<add key="Server" value="HAMZEH" />
		<add key="Database" value="Survey"/>
		<add key="UserId" value="sa"/>
		<add key="Password" value="hamza900900"/>
	</appSettings>
</configuration>